*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: rgb(200, 147, 78);
}
/* Logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgba(230, 189, 128, 0.74);
}
@media(max-width:600px){
  .logo{
    height: 50px;
    padding: 2rem 0;
  }
}
/* Form */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 150px;
    background-color: rgb(234, 176, 69);
}

input{
    width: 30%;
    height: 50px;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 1rem;
}

.submitBtn{
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
}

/* Responsive Form */
@media (max-width: 600px) {
    form{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 1rem;
    }

    input{
        width: 90%;
    }

    .submitBtn{
        width: 90%;
    }
}

/* list item */
ul{
    display: flex;
    font-size: 2rem;
    gap: 2rem;
    list-style: none;
    overflow-y: auto;
    padding-top: 10px;
    padding-right: 40px;
    background-color: rgb(126, 89, 21);
    padding: 3rem;
    height: 35vh;
    color: white;
    flex-wrap: wrap;
    

}
li{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
  padding: 8px 10px;
  background: rgb(126, 116, 57);
  border-radius: 8px;
} 

.arrange {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  height: 100%;
  padding: 30px;

}

.counter{
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.deleteAllbtn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
}

/* Respnsive Ul */
@media (max-width: 600px) {
  ul{
    padding-right: 5px;
    gap: 12px;
  }
  li{
    
    width: 100%;
    gap: 30px;
    
    
  }
}

/* footer */
footer{
    text-align: center;
    background-color: rgb(132, 104, 51);
    height: 100px;
    color: white;
    padding-top: 15px;
}